<head>
<style>


div.a {
  text-align: left;
  padding-left: 40%;
  padding-right: 180px;
  padding-top: 180px;
}
</style>
</head>

    <div class="a">


        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p style="color:green;">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
<h1>Login</h1>
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <button type="submit" id="submit">Login</button>
    <br><br>
     <a href="/accounts/password_reset/">Forgot password?</a>
    <input type="hidden" name="next" value="{% url next %}" />
    <br>
    <br>
    Create an Account
    <a href="{% url 'users:signup' %}"><input type="button" value="SignUp"></a>
</form>
    </div>